.contacto {
    display: flex;
    gap: 30px;
    width: 97%;
    height: auto;
    margin-top: 1rem;
    padding-left: 40px;
    flex-wrap: wrap;
}

.formulario {
    width: 40%;
    max-width: 600px;
}

.formulario h2 {
    margin-bottom: 20px;
}

.formulario label {
    display: block;
    margin: 10px 0 5px;
}

.formulario textarea,
#nombre,
#email {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario button {
    margin-top: 20px;
    padding: 10px;
    background-color: #00c853;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contacto-info {
    width: 20%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: rgb(0, 0, 0);
}

.whatsapp {
    text-align: left;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    max-width: 300px;
}

.whatsapp a {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background-color: #25D366;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
    width: 50%;
}

.whatsapp a i {
    margin-right: 10px;
}

.whatsapp img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkbox-container label {
    font-size: 0.8rem;
}

.checkbox-container input {
    margin-top: 0.5rem;
}

.checkbox-container a {
    color: #007BFF;
    text-decoration: none;
}

.checkbox-container a:hover {
    text-decoration: underline;
}

@media (max-width: 1524px) {
    #w {
        display: none;
    }
}

@media (max-width: 1024px) {
    .formulario {
        width: 50%;
    }

    .contacto-info {
        width: 50%;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .contacto {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .formulario {
        width: 80%;
        max-width: 500px;
        margin-bottom: 20px;
    }

    .contacto-info {
        width: 80%;
        margin-top: 20px;

    }

    .whatsapp a {
        width: 100%;
    }

    .whatsapp img {
        display: none;
    }
}

@media (max-width: 480px) {
    .formulario {
        width: 100%;
        max-width: none;
    }

    .contacto-info {
        width: 100%;
        display: block;
    }

    .whatsapp a {
        width: 100%;
    }

    .whatsapp img {
        width: 35px;
        height: 35px;
    }
}
