

.information {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 3rem;
    align-items: center;
}

.text {
    flex: 1;
    font-size: 24px;
    padding-right: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.text h2 {
    font-size: 30px;
    margin-bottom: 1rem;
}

.image {
    margin-top: 5rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100%;
    height: auto;
    max-width: 900px;
    object-fit: cover;
        margin-bottom: 2rem;


}



.text2 {
    flex: 1;
    font-size: 24px;
    padding-right: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text2 h4 {
    font-size: 25px;

}


.image2 {
    margin-top: 5rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image2 img {
    width: 80%;
    height: auto;
    max-width: 900px;
    object-fit: cover;
    margin-bottom: 2rem;
}



@media (max-width: 1200px) {
    .information {
        flex-direction: column;
    }

    .text {
        font-size: 40px;
    }

    .image img {
        max-width: 90%;
    }
}

.image_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.image_container h4 {
    font-size: 25px;
    margin-bottom: 0.5rem;
    align-self: flex-start;
}

.image_container h1 {
    font-size: 35px;
    margin-bottom: 1rem;
    align-self: flex-start;
}

.image_container img {
    width: 80%;
    height: auto;
    max-width: 900px;
    object-fit: cover;
    margin-bottom: 2rem;
}

.content_peritajes {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.text_column {
    max-width: 80%;
    text-align: left;
    font-size: 24px;
    padding: 20px 20px 0 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

