body {
    font-family: Arial, sans-serif;
}

.information {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 3rem;
    align-items: center;
}

.text {
    flex: 1;
    font-size: 20px;
    padding-right: 20px;
}

.text h2 {
    font-size: 30px;
    margin-bottom: 1rem;
}

.image {
    margin-top: 5rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100%;
    height: auto;
    max-width: 900px;
    object-fit: cover;
        margin-bottom: 2rem;


}

.text3 {
    flex: 1;
    font-size: 20px;
    padding-left: 10px;
}

.text3 h4 {
    font-size: 25px;
    //margin-bottom: 1rem;
}

.text2 {
    flex: 1;
    font-size: 20px;
    padding-right: 10px;
}

.text2 h4 {
    font-size: 25px;
    //margin-bottom: 1rem;
}


.image2 {
    margin-top: 5rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image2 img {
    width: 80%;
    height: auto;
    max-width: 900px;
    object-fit: cover;
    margin-bottom: 2rem;
}



@media (max-width: 1200px) {
    .information {
        flex-direction: column;
    }

    .text {
        font-size: 40px;
    }

    .image img {
        max-width: 90%;
    }
}
