.partners {
    display: flex;
    width: 97%;
    overflow: hidden;
    position: relative;
    align-items: center;
    padding-top: 5rem;
    padding-right: 2rem;
    padding-bottom:  5rem;


}

.partners-track {
    display: flex;
    transition: transform 1s ease;
    width: 100%;
}

.partners img {
    flex: 0 0 25%;
    width: auto;
    height: 150px;
    object-fit: contain;
    padding: 0 20px;
}
