.carousel {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
}
.carousel-track {
    display: flex;
    transition: transform 1s ease;
    width: 92%;
}
.carousel img {
    flex: 0 0 25%;
    width: auto;
    height: 150px;
    object-fit: contain;
    padding: 0 10px;
}
